#mainToolBar
{
    border: none;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
            stop: 0 #a6a6a6, stop: 0.08 #7f7f7f,
            stop: 0.39999 #717171, stop: 0.4 #626262,
            stop: 0.9 #4c4c4c, stop: 1 #333333);
}

QToolButton
{
    color: #333;
    border: 2px solid #555;
    border-radius: 11px;
    padding: 5px;
    background: qradialgradient(cx: 0.3, cy: -0.4,
    fx: 0.3, fy: -0.4,
    radius: 1.35, stop: 0 #fff, stop: 1 #888);
    min-width: 80px;
}

QToolButton:hover
{
    background: qradialgradient(cx: 0.3, cy: -0.4,
    fx: 0.3, fy: -0.4,
    radius: 1.35, stop: 0 #fff, stop: 1 #bbb);
}

QToolButton:pressed
{
    background: qradialgradient(cx: 0.4, cy: -0.1,
    fx: 0.4, fy: -0.1,
    radius: 1.35, stop: 0 #fff, stop: 1 #ddd);
}

#listWidget:item
{
    padding:6;
}


